body {
    background-color: rgb(219, 202, 205);
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 1em;
    text-align: center;
}

img {
    width: 300px;
    height: 400px;
}

a {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    padding: 1em;
    text-align: center;
}